{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "jsxSingleQuote": false
}
